body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.desktop {
  height: 100vh;
  width: 100vw;
  display: flex;
}
.left {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 20px;
  display: flex;
  height: calc(100vh - 100px);
  width: calc(50vw - 20px);
  justify-content: end;
}

.right {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  flex-direction: column;
  display: flex;
  height: calc(100vh - 100px);
  width: calc(50vw - 20px);
}

.first {
  width: 250px;
  height: 60vh;
  border: 1px solid gray;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.second {
  width: 250px;
  height: 7vh;
  border: 1px solid gray;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
}

.third {
  width: 250px;
  height: 10vh;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px;
  font-size: 12px;
}

.input_box {
  background-color: rgba(128, 128, 128, 0.103);
  width: 70%;
  height: 25px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  border: 1px rgba(128, 128, 128, 0.599) solid;
}
.btnlogin {
  display: flex;
  margin-left: 15px;
  background-color: #0095f6;
  color: #fff;
  height: 25px;
  width: 70%;
  font-size: 12px;
  margin-top: 10px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 7px;
  justify-content: space-around;
  align-items: center;
}

.orfirst {
  display: flex;
  justify-content: center;
}
.hrline {
  width: 5vw;
  padding: 10px;
}
.ortext {
  color: gray;
  font-size: 10px;
  padding: 10px;
  margin-top: 2px;
}

.facebook {
  display: flex;
  font-size: 12px;
  color: rgb(6, 6, 54);
  text-align: center;
  justify-content: center;
  align-items: center;
}
.facebook img {
  height: 15px;
  width: 15px;
}
.facebook p {
  padding-left: 10px;
}
.forgot {
  font-size: 10px;
  color: rgb(7, 7, 137);
}
.notaccount {
  font-size: 12px;
}
.notaccount b {
  color: #0095f6;
}

.store {
  height: 30px;
}
